<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="dtID" value="0"/>
		<add key="dtName" value="DEMO_iPOS_5-0-9-1"/>
		<add key="appfolder" value="iPosv5Automation"/>
		<add key="shortcuttoipos" value="C:\Program Files (x86)\Inspirasibiz\iPos 5.0 Profesional\iPos5p.exe"/>
		<add key="uploadfolder" value="upload"/>
		<add key="sharingfolder" value="sharing"/>
		<add key="screenshotfolder" value ="log"/>
		<add key="enableconsolelog" value="Y"/>
		<add key="loginId" value="admin"/>
		<add key="password" value="admin"/>
		<add key="dbserveraddress" value="LOCALHOST"/>
		<add key="dbname" value="Test"/>
		<add key="uploadtosandbox" value="N"/>
		<add key="namagudangdiipos" value="UTM"/>
	</appSettings>
</configuration>